@model Instructor;

<h1>Add Instructor</h1>
@* <div asp-validation-summary="All" class="text-danger"></div> *@
<form action="" method="post">
    <!--
    <div class="form-group">
        <label asp-for="Id">ID</label>
        <input asp-for="Id" type="text" class="form-control">
    </div>
    -->
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <span class="text-danger">*</span>
        <input asp-for="FirstName" type="text" class="form-control">
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <span class="text-danger">*</span>
        <input asp-for="LastName" type="text" class="form-control">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rank">Rank</label>
        <span class="text-danger">*</span>
        <select asp-for="Rank" asp-items="Html.GetEnumSelectList(typeof(Rank))" class="form-control"></select>
        <span asp-validation-for="Rank" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsTenured"></label>
        <span class="text-danger">*</span>
        <select asp-for="IsTenured" class="form-control">
            <option value="false">Probationary</option>
            <option value="true">Permanent</option>
        </select>
        <span asp-validation-for="IsTenured" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HiringDate"></label>
        <span class="text-danger">*</span>
        <input asp-for="HiringDate" type="date" class="form-control">
        <span asp-validation-for="HiringDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone"></label>
        <span class="text-danger">*</span>
        <input asp-for="Phone" type="text" class="form-control">
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top:20px;">Submit</button>
    <button type="button" onclick="history.back()" class="btn btn-secondary" style="margin-top:20px;" asp-action="Index">Cancel</button>
</form>