@model Instructor;

<h1>Edit Instructor</h1>

<form action="" method="post">
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Rank"></label>
        <select asp-for="Rank" asp-items="Html.GetEnumSelectList(typeof(Rank))" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="IsTenured"></label>
        <select asp-for="IsTenured" class="form-control">
            <option value="false">Probationary</option>
            <option value="true">Permanent</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="HiringDate"></label>
        <input asp-for="HiringDate" type="date" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Phone"></label>
        <input asp-for="Phone" type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top:20px;">Update</button>
    <button type="button" onclick="history.back()" class="btn btn-secondary" style="margin-top:20px;" asp-action="Index">Cancel</button>
</form>