@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin:2rem;">
    <h1 class="display-4">Welcome</h1>
    <a asp-area="" asp-controller="Student" asp-action="Index" class="btn btn-info" style="color:black; border-radius:1.5rem; padding-left:1rem; padding-right:1rem; margin:1rem;">See Student List</a>
    <a asp-area="" asp-controller="Instructor" asp-action="Index" class="btn btn-info" style="color:black; border-radius:1.5rem; padding-left:1rem; padding-right:1rem; margin:1rem;">See Instructor List</a>
</div>
