@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button class="btn btn-info" style="border-radius:2rem; padding-left:1.2rem; padding-right:1.2rem; margin-top:0.5rem;">
        <a href="/Home/Employee" style="color:black;">Go to Employee Page</a>
    </button>
</div>